@import "tailwindcss";

@plugin "daisyui" {
  themes: dark --default;
}

@theme {
  --color-xrb-background-1: oklch(0.1277 0.0244 29.58);
  --color-xrb-border-1: oklch(0.3161 0.0052 106.7);
  --color-xrb-accent-1: oklch(0.6362 0.1765 46.711);
  --color-xrb-accent-2: oklch(0.3377 0.1244 32.6);
  --color-xrb-accent-3: oklch(0.2822 0.1097 30.38);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(255, 0, 153);
  /* FOR DEV */

  /* background-color: oklch(0.1277 0.0244 29.58); FOR PROD */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}