services:

  django-web:
    build: .
    depends_on:
      postgres:
        condition: service_healthy
    entrypoint: ["/app/entrypoint.sh"]
    env_file:
      - .env
    ports:
      - "8080:8080"

  postgres:
    env_file:
      - .env
    healthcheck:
      start_period: 30s
      test: ["CMD-SHELL", "pg_isready -d $POSTGRES_DB -U $POSTGRES_USER -h localhost -p $POSTGRES_PORT"]
    image: postgres:15
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    
volumes:
  postgres_data: