services:

  django-web:
    depends_on:
      postgres:
        condition: service_healthy
    build: .
    entrypoint: ["/app/entrypoint.sh"]
    env_file:
      - .env
    ports:
      - "8080:8080"

  postgres:
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $POSTGRES_DB -U $POSTGRES_USER -h localhost -p $POSTGRES_PORT"]
      start_period: 30s
    image: postgres:15
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    
volumes:
  postgres_data: