asgiref==3.11.0
Django==5.2.8
django-cors-headers==4.9.0
djangorestframework==3.16.1
gunicorn==23.0.0
packaging==25.0             # Redundant: Django dependency; plan for removal. Testing required.
psycopg==3.2.12
psycopg-binary==3.2.12      # Redundant: Made redundant by psycopg; plan for removal. Testing required.
sqlparse==0.5.4             # Redundant: Django dependency; plan for removal. Testing required.
typing_extensions==4.15.0   # Redundant: Django dependency; plan for removal. Testing required.
whitenoise==6.11.0          # Redundant: Made redundant by nginx; plan for removal. Testing required.
