asgiref==3.11.0
Django==5.2.8
django-cors-headers==4.9.0
django-otp==1.7.0                               # OTP Library
                                                # Ref: https://django-otp-official.readthedocs.io/en/stable/auth.html#authenticating-users
django-two-factor-auth==1.18.1                  # Required by OTP
                                                # Ref: https://django-two-factor-auth.readthedocs.io/en/1.18.1/
djangorestframework==3.16.1
djangorestframework-simplejwt[blacklist]==5.5.1 # JWT Authentication
                                                # Ref: https://www.geeksforgeeks.org/python/jwt-authentication-with-django-rest-framework/
                                                #   blacklist included
gunicorn==23.0.0
psycopg==3.2.12
psycopg-binary==3.2.12
whitenoise==6.11.0